<form style="display: flex; flex-direction: column;" method="post" enctype="multipart/form-data" action="index.php">
        <input type="text" name="filename" style="border-radius: 5px; padding: 5px; margin: 10px 0; border: 1px solid lightgrey" placeholder="Nom de l'image">
        <input type="file" style="margin: 10px 0" name="image">
    <button type="submit" style="width: 80px; border-radius: 5px; color: white; background: dodgerblue; padding: 5px 0; margin: 10px 0">Submit</button>
</form>
